body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

h1{
    text-align: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Ensure it stays on top */
}
.step-navigation {
    background-color: #f8f9fa; /* Light background */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Optional border */
}


.container {
    max-width: 800px;
    margin-top: 50px; /* Space below the fixed navigation to avoid overlap */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Button styles */
.btn-primary {
    display: inline-block;
    padding: 1px 1px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 1px;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    margin-top: 1px;
}